@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.widget-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.widget-header__title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  color: #e4e4e7;
}

.widget-header__difficulty {
  padding: $spacing-xs;
  color: #a0a0c0;
  background: rgb(255 255 255 / 10%);
  font-size: 0.8rem;
  border-radius: $border-radius;
}

.widget-header__left {
  @include flex-center;

  gap: $spacing-md;
}

.widget-header__dots {
  @include flex-center;

  gap: $spacing-xs;
}

.widget-header__dot {
  @include flex-center;

  transition: transform $transition-speed;

  &:hover {
    transform: scale(1.1);
  }
}

.dot-blue {
  fill: $dot-color-blue;
}

.dot-orange {
  fill: $dot-color-orange;
}

.dot-green {
  fill: $dot-color-green;
}
